<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="5" name="Suite" parallel="methods">
	<listeners>
		<listener class-name="managers.InvokedMethodListener"></listener>
	</listeners>
	<test name="00000" parallel="methods" thread-count="5">
		<parameter name="browser" value="chrome" />
		<parameter name="remote"  value="false"/>
		<parameter name="gridUrl" value="http://3.17.201.180:4444/wd/hub"/>
		<classes>
			<class name="tests.SampleTest" />
		</classes>
	</test>
</suite>
